
//===Color===//
$bodybackground:#E5E4E4;
$navarcolor:#575656;
$textcolornav:#999999;
$texthovernav:#eee;
$textcolor:#111111;
$texcolorimage:#6F6F6F;
$buttonhovercolor:#ffffff;
$pagebackground:#E5E4E4;


//===Fonts===//
$textfont:'Inconsolata', monospace;
$textform:'Comic Neue', cursive;


//===Font Size===//
$h1: 3vw;
$h2:1.5vw;
$textnavsize:2vw;
$paragraph:1.2vw;
$copyrightsize:1vw;
$btnsize:0.8em;

//===width===//
$imagehomewidth:50%;
$socialiconwidth:2.5vw;
$mediaiconwidth:5vw;
$formwidth:1vw;
